/* -------------------------------- Base CSS -------------------------------- */
:root {
  font-size: clamp(1rem, 0.1vw + 1rem, 1.125rem);
  letter-spacing: 0.5px;
  /*max-width: clamp(55ch, 80%, 75ch);*/
}

body{
  font-family: "Inter", sans-serif;
  min-height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #FAFAFA;
  color: #333333;
  overflow-x: clip;
}

.header-content, .main-content, .footer-content{
  max-width: 1140px;
  margin: auto;
}

h1, h2, h3{
  color: #222222;
}

/* ------------------------ Navigation and Hamburger ------------------------ */
nav{
  display: grid;
}

nav ul{
  position: fixed;
  inset: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  padding: 0;
  list-style: none;
  transform: translateX(-100%);
}

nav[data-open="true"] ul{
  visibility: visible;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  z-index: 100;
}

.hamburger-button{
  all: unset;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 40px;
  cursor: pointer;
  z-index: 9999;
}

.hamburger-button:focus-visible, .cart-button:focus-visible{
  outline: 2px solid black;
  outline-offset: 5px;
}

.hamburger-line{
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #222222;
}

nav[data-open="true"] .hamburger-line{
  background-color: #FAFAFA;  
}

nav[data-open="true"] .hamburger-line1{
  position: absolute;
  transform: rotate(45deg);
}

nav[data-open="true"] .hamburger-line2{
  display: none;
}

nav[data-open="true"] .hamburger-line3{
  position: absolute;
  transform: rotate(-45deg);
}

nav[data-open="true"] .hamburger-button{
  justify-content: center;
}

body:has(nav[data-open="true"]){
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

/* -------------------------------------------------------------------------- */
/*                                Main styling                                */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Header --------------------------------- */
header{
  margin-bottom: 3rem;
  padding: clamp(1rem, 5vw, 2rem);
  padding-bottom: 1.5rem;
}

header a:focus-visible{
  outline: 2px solid black;
  outline-offset: -2px;
}

.header-content{
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header-content a{
  grid-column: 2 / 3;
}

.header-content img{
  height: 2.5rem;
}

nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

nav ul{
  justify-content: space-around;
  width: 100%;
  background-color: #127e6c;
  font-size: 1.8rem;
  font-weight: 500;
}

nav a{
  display: block;
  padding: 1rem;
  color: #FAFAFA;
  text-decoration: none;
}

nav a:hover{
  background-color: #18947f;
}

.cart-button{
  all: unset;
  position: relative;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3 / 4;
  color: #222222;
  cursor: pointer;
  z-index: 10;
}

.cart-button span{
  font-size: 250%;
}

/* --------------------------------- Footer --------------------------------- */
footer{
  padding: 2rem;
  color: #FAFAFA;
  background-color: #2F2F2F;
}

footer a{
  color: #FAFAFA;
}

footer img{
  max-height: 5rem;
}

.footer-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}

/* ------------------------------- index.html ------------------------------- */
.main-content-index{
  display: grid;
  gap: 5rem;
  padding: clamp(1rem, 5vw, 2rem);
  padding-top: 0;
}

.hero-section{
  min-height: 50svh;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #127e6c;
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 15px 30px rgba(0, 0, 0, 0.2);
}

.hero-section-content{
  display: grid;
  grid-template-rows: auto auto 1fr;
  max-width: 80%;
  gap: 3rem;
  margin: auto;
  padding: 2rem 0;
  color: #FAFAFA;
  text-align: center;
  font-size: 1.5rem;
}

.hero-section h1{
  color: #FAFAFA;
  line-height: 1.2;
}

.hero-section p{
  font-size: 1.2rem;
}

.hero-section img{
  position: relative;
  max-height: 400px;
  width: auto;
}

.card-image-container{
  align-self: end;
  position: relative;
  height: fit-content;
  width: fit-content;
}

.card-image-container::after{
  content: "";
  position: absolute;
  right: -5px;
  bottom: -8px;
  height: 8%;
  width: 90%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotate(-7deg);
  filter: blur(0.8px);
}

.hero-image::after{
  bottom: -1.5rem;
}

.card-image-flipped::after{
  left: 0;
  transform: rotate(7deg);
}

.info-card + .info-card::before{
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(128, 128, 128, 0.3);
}

.info-card{
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  width: 100%;
  margin: auto;
  padding: 2rem;
}

.info-card ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-card img{
  max-height: 300px;
  padding-bottom: 0.7rem;
}

.info-card a{
  color: #333333;
}

.card-image-flipped{
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: end;
}

.info-card-uneven{
  text-align: end;
}

.info-card-uneven h2{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.info-card-uneven ul{
  list-style-position: inside;
}

.card-image-uneven{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

/* ----------------------------- produkter.html ----------------------------- */
.main-content-produkter{
  display: grid;
  place-items: center;
  gap: 3rem;
  padding: clamp(1rem, 5vw, 2rem);
  padding-top: 0;
  margin-bottom: 3rem;
}

.product-card{
  display: grid;
  place-items: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #dddddd;
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 15px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.product-card + .product-card{
  margin-top: 2rem;
}

.product-card div{
  display: grid;
  gap: 0.5rem;
}

.product-card a{
  color: #333333;
}

.product-card-image{
  justify-self: center;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  max-width: 200px;
}

.product-card-button{
  display: flex;
  align-items: end;
  width: max-content;
}

.green-button{
  all: unset;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #FAFAFA;
  background-color: #127e6c;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;

  &:hover{
    background-color: #18947f;
  }

  &:active{
    background-color: #127e6c;
    filter: brightness(0.8);
  }

  &:focus-visible{
    outline: 2px solid black;
  }
}

/* ------------------------------ produkt.html ------------------------------ */
.main-content-produkt{
  display: grid;
  gap: 2rem;
  padding: clamp(1rem, 5vw, 2rem);
}

.breadcrumb{
  display: flex;
  gap: 1ch;
  color: #555555;
}

.breadcrumb a{
  color: #555555;
}

.product-buy-button{
  width: max-content;
  margin: 2rem 0;
}

.product-info{
  display: grid;
  gap: 3rem;
  max-width: clamp(40ch, 80%, 60ch);
  margin: auto;
}

.product-info section{
  display: grid;
  gap: 1ch;
}

.product-info h2{
  font-size: 1.3rem;
  text-wrap: wrap;
}

.product-info ul{
  display: grid;
  gap: 1ch;
}

.video-container{
  width: 100%;
  margin: 3rem 0;
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.05),
    0 15px 30px rgba(0, 0, 0, 0.1);
}

.video-container video{
  width: 100%;
  height:auto;
  object-fit: cover;
  object-position: center;
}

/* -------------------------------- carousel -------------------------------- */
.product-image-section{
  min-height: 200px;
  max-height: 1000px;
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.05),
    0 15px 30px rgba(0, 0, 0, 0.1);
}

.carousel{
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel ul{
  padding: 0;
  list-style: none;
}

.slide{
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active-slide]{
  position: relative;
  opacity: 1;
}

.carousel button{
  all: unset;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  height: min-content;
  padding: 10px;
  border-radius: 50%;
  color: #FAFAFA;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 10;

  &:hover, &:focus-visible{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.carousel button span{
  font-size: 2rem;
}

.button-prev span{
  position: relative;
  left: -4px;
}

.carousel .button-next{
  left: auto;
  right: 10px;
}

.button-next span{
  position: relative;
  top: 1px;
  right: -3px;
}

.indicator-container{
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.indicator{
  height: 10px;
  width: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: white;
}

.indicator[data-active-indicator]{
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #127e6c;
}

/* ------------------------ omoss.html & kontakt.html ----------------------- */
.main-content-om, .main-content-kontakt{
  display: grid;
  gap: 3rem;
  max-width: clamp(40ch, 80%, 60ch);
  padding: clamp(1rem, 5vw, 2rem);
  padding-top: 0;
  margin-bottom: 3rem;
}

.main-content-om section, .main-content-kontakt section, .main-content-kontakt ul{
  display: grid;
  gap: 1ch;
}

.om-text{
  color: #555555;
}

/* ------------------------------- kassa.html ------------------------------- */
.main-content-kassa{
  display: grid;
  justify-content: center;
  gap: 4rem;
  padding: clamp(1rem, 5vw, 2rem);
}

.checkout{
  max-width: 100%;
}

.checkout h1{
  margin: 0 0 2rem 1rem;
}

table{
  border-radius: 1rem;
  background-color: white;
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.05),
    0 15px 30px rgba(0, 0, 0, 0.11);
}

table:has(tbody tr.cart-empty) thead{
  display: none;
}

table tr{
  position: relative;
}

thead{
  position: relative;
}

table tr:not(:last-child)::after, thead::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 1%;
  height: 3px;
  width: 98%;
  border-radius: 3px;
  background-color: rgba(128, 128, 128, 0.3);
}

table td{
  padding: 2rem 1rem;
}

table td:first-child, .th td:first-child{
  padding-left: 2rem;
  display: none;
}

table td:nth-child(2), .th td:nth-child(2){
  display: none;
}

table tr:last-child td{
  display: table-cell;
}

table td:last-child{
  padding-right: 2rem;
}

table img{
  max-height: 200px;
}

.user-info{
  display: grid;
  gap: 2rem;
  max-width: 500px;
}

.user-info div{
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

input{
  padding: 0.4rem 0.6rem;
  border: rgba(128, 128, 128, 0.3) solid 2px;
  border-radius: 8px;
  box-shadow: 
    0 2px 5px rgba(0, 40, 60, 0.05),
    0 10px 20px rgba(0, 40, 60, 0.08);
}

.buttons-kassa{
  display: flex;
  gap: 2rem;
  
}

/* ------------------------------- cart modal ------------------------------- */
.cart-button-container{
  position: absolute;
  right: 0;
  top: 0;
}

.cart-modal{
  display: none;
}

.cart-modal[data-open="true"]{
  display: grid;
}

.basket{
  position: absolute;
  top: -1rem;
  right: clamp(-2rem, -5vw, -1rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  max-width: 100vw;
  padding: 6rem 6rem 3rem 3rem;
  border-radius: 1rem 0 0 1rem;
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 2;
}

.basket ul{
  display: grid;
  gap: 2rem;
  padding: 0;
  list-style: none;
}

.basket ul li{
  position: relative;
}

.basket ul li + li::before{
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.3);
  z-index: 10000;
}

.cart-modal a{
  width: max-content;
  font-size: 1rem;
}

.cart-modal-background{
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (min-width: 350px){
  .product-card{
    grid-template-columns: auto 1fr;
    place-items: start;
    text-align: start;
  }

  .product-card h2{
    grid-column: 1 / 3;
  }

  .product-card-image{
    justify-self: end;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
}

@media (min-width: 768px){
  .info-card{
    width: 90%;
  }

  table td:first-child, .th td:first-child{
    padding-left: 2rem;
    display: table-cell;
  }

  table td:nth-child(2), .th td:nth-child(2){
    display: table-cell;
  }
}

@media (min-width: 992px){
  header{
    padding-right: 0;
    padding-left: 0;
  }

  .header-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: clamp(1rem, 5vw, 2rem);
    padding-left: clamp(1rem, 5vw, 2rem);
  }

  .header-content img{
    height: 3rem;
  }

  nav{
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 
      0 5px 10px rgba(0, 0, 0, 0.1),
      0 15px 30px rgba(0, 0, 0, 0.2);
  }

  nav ul{
    position: static;
    visibility: visible;
    grid-column: none;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    transform: translateX(0);
    transition: none;
  }
  
  .hamburger-button{
    display: none;
  }

  .cart-button-container{
    top: 6px;
    right: calc(clamp(1rem, 5vw, 2rem) + 1rem);
  }

  .info-card{
    width: 80%;
  }

  .footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
  }

  footer img{
    max-height: 3rem;
  }

  .cart-modal[data-open="true"] .basket{
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: max-content;
    padding: 3rem;
    padding-top: 5rem;
    border-radius: 1rem;
  }
}

#notify{
  position: fixed;
  display: none;
  top: 50svh;
  left: 50vw;
  height: max-content;
  width: 50vw;
  padding: 2rem;
  border-radius: 2rem;
  background-color: white;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

#notify.visible{
  display: block;
}

.notify-background:has(#notify.visible){
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}